.posts {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.post-item {
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}