.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.new-post {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;

}

.new-post button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #00b894;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 20px;
}